@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model patterns_pr3.Core.Entities.User

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <h2>Login</h2>

    <div class="form-group">
        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <br />
    <a href="@Url.Action("Register", "Account")">Don't have an account? Register</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
